.swipper-container{
    width: 74%;
    margin: 0 auto;
    position: relative;
}
.swip{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    box-sizing: content-box;
}
.eHLWFQ {
    font-family: "TTOctosquares-Regular", sans-serif;
    font-size: 18px;
    line-height: 26px;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
.wide{
    width: 342.667px; margin-right: 40px;
}
.eHLWFQ iframe {
    width: 100%;
    height: 300px;
    border: none;
}
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}