.bqDhMg .title {
  font-family: 'TTOctosquares-Regular', sans-serif;
  font-size: 50px;
  line-height: 85px;
  margin-bottom: 80px;
  margin-top: 180px;
  text-align: center;
}
.bqDhMg .icon {
  width: 1402px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px auto;
}
.bqDhMg .icon a + a {
    margin-left: 75px;
}
.bqDhMg .icon a {
  margin-bottom: 82px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.bqDhMg .icon img {
    width: 294px;
    /* height: 60px ; */
}
.bqDhMg .icon {
    position: static;
}


